[submodule "CKKSKeyRecovery"]
	path = CKKSKeyRecovery
	url = ../CKKSKeyRecovery
[submodule "HElib"]
	path = HElib
	url = ../HElib
[submodule "SEAL"]
	path = SEAL
	url = ../SEAL
[submodule "lattigo"]
	path = lattigo
	url = ../lattigo
[submodule "HEAAN"]
	path = HEAAN
	url = ../HEAAN
[submodule "FullRNS-HEAAN"]
	path = FullRNS-HEAAN
	url = ../FullRNS-HEAAN
[submodule "palisade-release"]
	path = palisade-release
	url = https://gitlab.com/msh086/palisade-release.git
